<div ng-show="items.length">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-md-3 danger">Show</th>
            <th class="col-md-3 danger">Last Episode</th>
            <th ng-if="showNextEpisode" class="col-md-3 danger">Next Episode</th>
            <th ng-if="!showNextEpisode" class="col-md-3 danger"></th>
            <th class="col-md-3 danger"></th>
        </tr>
        </thead>
        <tbody>

        <tr dir-paginate="item in items | itemsPerPage: pageSize" total-items="totalItems"
            current-page="currentPage" pagination-id="paginationId">

            <td class="col-md-3">
                <strong class="my-show-title">
                    <a href="/#/show/{{ item.userFriendlyId }}">{{ item.name }}</a>
                </strong>
            </td>

            <td tt-my-episode data-episode="item.lastEpisode" class="col-md-3"></td>

            <td ng-if="showNextEpisode" tt-my-episode data-episode="item.nextEpisode" class="col-md-3"></td>

            <td ng-if="!showNextEpisode"class="col-md-3"></td>

            <td class="col-md-3">
                <button ng-click="unsubscribe(item.id)" class="btn btn-danger my-show-unsubscribe-button">Unsubscribe</button>
            </td>
        </tr>

        </tbody>
    </table>

    <div dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="paginationId" class="text-center"></div>

</div>


