@using TrackTV.Models
@model TrackTV.Models.ShowStatus

@if (Model == ShowStatus.Continuing)
{
    <img src="/Content/Images/running.png" alt="Running" title="Running"/>
    <span class="running-text">Running</span>
}
else if (Model == ShowStatus.Ended)
{
    <img src="/Content/Images/ended.png" alt="Ended" title="Ended"/>
    <span class="ended-text">Ended</span>
}
else
{
    <img src="/Content/Images/unknown.png" alt="Unknown" title="Unknown"/>
    <span class="unknown-text">Unknown</span>
}