@model TrackTV.Services.VewModels.MyShows.SimpleEpisodeViewModel

@if (Model != null)
{
    @:S@(Html.DisplayFor(model => model.SeasonNumber))E@(Html.DisplayFor(model => model.Number)) - @Html.DisplayFor(model => model.Title) <br/>

    <span class="info-small">@Html.DisplayFor(model => model.FirstAired)</span>
}
else
{
    @:-
}