<!DOCTYPE html>
<html>
    <head>
        <title>Angular 2 App</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <base href="/">
    </head>
    <body>

        <app-component> Loading...</app-component>
        <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
        <!-- DLL files -->
        <script src="/polyfill.dll.js"></script>
        <script src="/vendor.dll.js"></script>
        <% } %>
    </body>
</html>
