@{
    ViewBag.Title = "Add Show";
}


<div class="text-center well-lg">
    @using (Html.BeginForm("Search", "ManageShows", FormMethod.Post, new
    {
        @class = "add-show-form"
    }))
    {
        @Html.AntiForgeryToken()

        <label for="show-name-box" class="show-name-label">Add show</label>
        <input type="text" id="show-name-box" name="query" placeholder="Name" required class="form-control center-block"/>
        <input type="submit" value="Go" class="btn btn-default show-name-btn btn-success"/>
    }
</div>