@using TrackTV.Services.VewModels.Shows
@model IList<TrackTV.Services.VewModels.Shows.GenreViewModel>


<div class="well genre-panel text-center">
    @*<h1 class="genre-title"> Genres </h1>*@

    @foreach (GenreViewModel genre in Model)
    {
        <a href="/Shows/Genre/@genre.UserFriendlyId" class="btn btn-default">@genre.Name</a>
    }

</div>