@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="error-message text-center">
    Opss! Something bad happend,
    @Html.DisplayFor(info => info.Exception.GetType().Name)
</h1>


<h2 class="text-center">
    @Html.DisplayFor(info => info.Exception.Message)
</h2>