@using System.IO
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    ViewData["Title"] = "Login Failure";
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">Unsuccessful login with service.</p>
</header>