@using System.IO
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"].</h2>
<p>
    Please check your email to reset your password.
</p>