@using System.IO
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>