--
-- Script was generated by Devart dbForge Studio for MySQL, Version 7.2.78.0
-- Product home page: http://www.devart.com/dbforge/mysql/studio
-- Script date 24.10.2017 г. 21:39:44
-- Server version: 5.7.19-0ubuntu0.17.04.1
-- Client version: 4.1
--


-- 
-- Disable foreign keys
-- 
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;

-- 
-- Set SQL mode
-- 
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;

-- 
-- Set character set the client will use to send SQL statements to the server
--
SET NAMES 'utf8';

-- 
-- Set default database
--
USE TrackTv;

--
-- Definition for table Actors
--
DROP TABLE IF EXISTS Actors;
CREATE TABLE Actors (
  ActorId INT(11) NOT NULL AUTO_INCREMENT,
  ActorImage VARCHAR(255) DEFAULT NULL,
  ActorName VARCHAR(255) NOT NULL,
  LastUpdated DATE NOT NULL,
  TheTvDbId INT(11) NOT NULL,
  PRIMARY KEY (ActorId)
)
ENGINE = INNODB
AUTO_INCREMENT = 26
AVG_ROW_LENGTH = 655
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Genres
--
DROP TABLE IF EXISTS Genres;
CREATE TABLE Genres (
  GenreId INT(11) NOT NULL AUTO_INCREMENT,
  GenreName VARCHAR(255) NOT NULL,
  PRIMARY KEY (GenreId)
)
ENGINE = INNODB
AUTO_INCREMENT = 4
AVG_ROW_LENGTH = 5461
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Networks
--
DROP TABLE IF EXISTS Networks;
CREATE TABLE Networks (
  NetworkId INT(11) NOT NULL AUTO_INCREMENT,
  NetworkName VARCHAR(255) NOT NULL,
  PRIMARY KEY (NetworkId)
)
ENGINE = INNODB
AUTO_INCREMENT = 2
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Profiles
--
DROP TABLE IF EXISTS Profiles;
CREATE TABLE Profiles (
  ProfileId INT(11) NOT NULL AUTO_INCREMENT,
  Username VARCHAR(255) NOT NULL,
  PRIMARY KEY (ProfileId)
)
ENGINE = INNODB
AUTO_INCREMENT = 2
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Users
--
DROP TABLE IF EXISTS Users;
CREATE TABLE Users (
  UserId INT(11) NOT NULL AUTO_INCREMENT,
  IsAdmin BIT(1) NOT NULL,
  Username VARCHAR(255) NOT NULL,
  Password VARCHAR(255) NOT NULL,
  ProfileId INT(11) NOT NULL,
  PRIMARY KEY (UserId)
)
ENGINE = INNODB
AUTO_INCREMENT = 2
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Shows
--
DROP TABLE IF EXISTS Shows;
CREATE TABLE Shows (
  ShowId INT(11) NOT NULL AUTO_INCREMENT,
  AirDay INT(11) DEFAULT NULL,
  AirTime DATETIME DEFAULT NULL,
  FirstAired DATETIME DEFAULT NULL,
  ImdbId VARCHAR(10) DEFAULT NULL,
  LastUpdated DATETIME NOT NULL,
  NetworkId INT(11) NOT NULL,
  ShowBanner VARCHAR(255) DEFAULT NULL,
  ShowDescription TEXT DEFAULT NULL,
  ShowName VARCHAR(255) NOT NULL,
  ShowStatus INT(11) NOT NULL,
  TheTvDbId INT(11) NOT NULL,
  PRIMARY KEY (ShowId),
  CONSTRAINT FK_Shows_NetworkId FOREIGN KEY (NetworkId)
    REFERENCES Networks(NetworkId) ON DELETE RESTRICT ON UPDATE RESTRICT
)
ENGINE = INNODB
AUTO_INCREMENT = 3
AVG_ROW_LENGTH = 8192
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Episodes
--
DROP TABLE IF EXISTS Episodes;
CREATE TABLE Episodes (
  EpisodeId INT(11) NOT NULL AUTO_INCREMENT,
  EpisodeDescription TEXT DEFAULT NULL,
  EpisodeNumber INT(11) NOT NULL,
  EpisodeTitle VARCHAR(255) DEFAULT NULL,
  FirstAired DATETIME DEFAULT NULL,
  ImdbId VARCHAR(10) DEFAULT NULL,
  LastUpdated DATETIME NOT NULL,
  SeasonNumber INT(11) NOT NULL,
  ShowId INT(11) NOT NULL,
  TheTvDbId INT(11) NOT NULL,
  PRIMARY KEY (EpisodeId),
  CONSTRAINT FK_Episodes_ShowId FOREIGN KEY (ShowId)
    REFERENCES Shows(ShowId) ON DELETE RESTRICT ON UPDATE RESTRICT
)
ENGINE = INNODB
AUTO_INCREMENT = 563
AVG_ROW_LENGTH = 495
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Roles
--
DROP TABLE IF EXISTS Roles;
CREATE TABLE Roles (
  RoleId INT(11) NOT NULL AUTO_INCREMENT,
  ActorId INT(11) NOT NULL,
  RoleName VARCHAR(255) DEFAULT NULL,
  ShowId INT(11) NOT NULL,
  PRIMARY KEY (RoleId),
  CONSTRAINT FK_Roles_ActorId FOREIGN KEY (ActorId)
    REFERENCES Actors(ActorId) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT FK_Roles_ShowId FOREIGN KEY (ShowId)
    REFERENCES Shows(ShowId) ON DELETE RESTRICT ON UPDATE RESTRICT
)
ENGINE = INNODB
AUTO_INCREMENT = 51
AVG_ROW_LENGTH = 327
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table ShowsGenres
--
DROP TABLE IF EXISTS ShowsGenres;
CREATE TABLE ShowsGenres (
  ShowId INT(11) NOT NULL,
  GenreId INT(11) NOT NULL,
  PRIMARY KEY (ShowId, GenreId),
  CONSTRAINT FK_ShowsGenres_GenreId FOREIGN KEY (GenreId)
    REFERENCES Genres(GenreId) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT FK_ShowsGenres_ShowId FOREIGN KEY (ShowId)
    REFERENCES Shows(ShowId) ON DELETE RESTRICT ON UPDATE RESTRICT
)
ENGINE = INNODB
AVG_ROW_LENGTH = 2730
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;

--
-- Definition for table Subscriptions
--
DROP TABLE IF EXISTS Subscriptions;
CREATE TABLE Subscriptions (
  SubscriptionId INT(11) NOT NULL AUTO_INCREMENT,
  ProfileId INT(11) NOT NULL,
  ShowId INT(11) NOT NULL,
  PRIMARY KEY (SubscriptionId),
  CONSTRAINT FK_Subscriptions_ProfileId FOREIGN KEY (ProfileId)
    REFERENCES Profiles(ProfileId) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT FK_Subscriptions_ShowId FOREIGN KEY (ShowId)
    REFERENCES Shows(ShowId) ON DELETE RESTRICT ON UPDATE RESTRICT
)
ENGINE = INNODB
AUTO_INCREMENT = 3
CHARACTER SET utf8
COLLATE utf8_general_ci
ROW_FORMAT = DYNAMIC;
 

-- 
-- Restore previous SQL mode
-- 
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;

-- 
-- Enable foreign keys
-- 
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;