[Unit]
Description=TrackTv REST Services

[Service]
WorkingDirectory=/var/www/tracktv/public_html/
ExecStart=/var/www/tracktv/public_html/TrackTv.WebServices
Restart=always

# Restart service after 10 seconds if dotnet service crashes
RestartSec=3
SyslogIdentifier=tracktv
User=kenny
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
