footer {

    background-color: #121212;
    color: white;
    margin-top: 2px;
    padding: 10px 0;
    padding-top: 20px;

    .widgets {
        margin: 15px;
        margin-top: 0;

        div {
            border-left: 1px #808080 dotted;

            :first-child {
                border-left: none;
            }
        }

        ul {
            list-style: none;
            padding: 0;
        }
    }

    ul li {
        border-bottom: 1px dotted #808080;
        a {
            color: #808080;
            :hover {
                color: #403f3f;
                text-decoration: none;
            }
        }
    }
}