@model string

@{
    ViewBag.Title = "404";
}

<div class="jumbotron error-container">
    <h1 class="text-center">Something is missing...</h1>
    <h2 class="text-center">@Html.DisplayFor(model => model)</h2>
</div>