﻿
<div class="shows-container">

    <genre-panel [genres]="shows.genres"></genre-panel>

    <div>
        <h1 class="text-center show-group-title">

            Top Shows <span> in {{genre | capitaliseWords}}</span>
        </h1>

        <show-list [shows]="shows.running"></show-list>

    </div>

    <div>
        <h1 class="text-center show-group-title">

            Top <span class="ended-word">Ended</span> Shows
            <span> in {{genre | capitaliseWords}}</span>

        </h1>

        <show-list [shows]="shows.ended"></show-list>
    </div>
</div>