@using TrackTV.Models
@model TrackTV.Services.VewModels.ShowDetails.AirTimeViewModel

@if (!Model.AirDay.HasValue)
{
    <li class="list-group-item">Air Time - Unknown</li>
}
else if (Model.AirDay == AirDay.Daily)
{
    <li class="list-group-item">
        @Html.DisplayFor(model => model.AirDay)
    </li>
}
else
{
    <li class="list-group-item">

        @Html.DisplayFor(model => model.AirDay)s

        @if (Model.AirTime.HasValue)
        {
            @Model.AirTime.ToString().Substring(0, 5)
        }
    </li>
}