@using TrackTV.Web.Helpers
@model DateTime?


@if (Model.HasValue)
{
    @DateHelper.GetShortMonth(Model.Value.Month)
    @:'@Model.Value.Year.ToString().Substring(2, 2)
}
else
{
    <span class="unknown-date">Unknown</span>
}