.form-container {

  text-align: center;

  margin: 0 auto;
  width: 80%;
  max-width: 400px;
}

.form-container input, .form-container button {

  display: block;
  width: 100%;
}

@media (min-width: 768px) {

  .form-container {
    margin-top: 10%;
  }
}
