﻿
<div class="shows-container">
    <div *ngIf="shows">

        <genre-panel-component [genres]="shows.genres"></genre-panel-component>

        <div>
            <h1 class="text-center show-group-title">Top Shows</h1>

            <div tt-show-list data-shows="shows.running"></div>

        </div>

        <div>
            <h1 class="text-center show-group-title">
                Top <span class="ended-word">Ended</span> Shows
            </h1>

            <div tt-show-list data-shows="shows.ended"></div>

        </div>
    </div>
</div>