<div class="shows-container" *ngIf="shows && shows.length">
    <h1 class="text-center show-group-title">
        Search for '<span class="search-query">{{ query }}</span>'
    </h1>

    <paged-show-list [shows]="shows"
                               [totalCount]="totalCount"
                               [currentPage]="currentPage"
                               [pageSize]="pageSize"
                               (pageChange)="getPage($event)">
    </paged-show-list>
</div>


<div class="shows-container" *ngIf="shows && !shows.length">

    <h1 class="text-center show-group-title">

        Nothing found for '<span class="search-query">{{ query }}</span>'
    </h1>
</div>