@{
    ViewBag.Title = "My Shows";
}

<div class="container jumbotron no-shows-container">
    <h1 class="text-center">You dont have any shows yet :(</h1>

    <h2 class="text-center">
        Click <span class="no-shows-link">@Html.ActionLink("here", "Index", "Shows")</span> and add some!
    </h2>
</div>