@model ShowsViewModel

@{
    ViewBag.Title = "Popular Shows";
}

@Html.Partial("_Genres", Model.Genres)

@if (Model.Running.Any())
{
    <h1 class="text-center show-group-title">Top Shows</h1>

    @Html.DisplayFor(model => model.Running)
}

@if (Model.Ended.Any())
{
    <h1 class="text-center show-group-title">
        Top <span class="ended-word">Ended</span> Shows
    </h1>

    @Html.DisplayFor(model => model.Ended)
}