<div class="shows-container">
    <div ng-show="shows">

        <div tt-genre-panel data-genres="shows.genres"></div>

        <div>
            <h1 class="text-center show-group-title">Top Shows</h1>

            <div tt-show-list data-shows="shows.running"></div>

        </div>

        <div>
            <h1 class="text-center show-group-title">
                Top <span class="ended-word">Ended</span> Shows
            </h1>

            <div tt-show-list data-shows="shows.ended"></div>

        </div>
    </div>
</div>