<header>
    <nav class="navbar navbar-default">
        <div class="container nav-container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">

                <div class="navbar-section pull-left">

                    <ul class="nav navbar-nav">
                        <li>
                            <a [routerLink]="['/calendar']" class="logo-link">

                                <img src="/assets/logo-image.png" alt="Logo"/>
                            </a>
                        </li>

                        <li *ngIf="identity.isAuthenticated">
                            <a [routerLink]="['/calendar']">Calendar</a>
                        </li>

                        <li *ngIf="identity.isAuthenticated">
                            <a [routerLink]="['/myshows']">My Shows</a>
                        </li>

                        <li>
                            <a [routerLink]="['/shows']">Browse</a>
                        </li>

                        <li>
                            <form class="navbar-form navbar-left search-form">

                                <input type="text" class="form-control col-lg-8" placeholder="Search"
                                       [(ngModel)]="query" [ngModelOptions]="{standalone: true}">

                                <button class="btn btn-success"
                                        [routerLink]="['/shows/search', query]">Go
                                </button>
                            </form>
                        </li>
                    </ul>

                </div>

                <div class="navbar-section pull-right">

                    <form class="navbar-right" *ngIf="identity.isAuthenticated">

                        <ul class="nav navbar-nav navbar-right">

                            <li *ngIf="identity.isAdmin">
                                <a href="/#/admin/manageshows">Admin</a>
                            </li>

                            <li *ngIf="identity.isAuthenticated">

                                <a href="/#/manage">

                                    <img gravatar
                                         [email]="identity.username"
                                         [size]="40"
                                         title="{{ identity.username }}"
                                         class="avatar">

                                    {{ identity.username }}
                                </a>
                            </li>

                            <li>
                                <a (click)="logout($event)" class="btn">Log off</a>
                            </li>
                        </ul>

                    </form>

                    <ul class="nav navbar-nav navbar-right" *ngIf="!identity.isAuthenticated">

                        <li><a [routerLink]="['/register']">Register</a></li>
                        <li><a [routerLink]="['/login']">Log in</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>