<div class="calendar-view center-block" *ngIf="weeks">

    <div class="month-list center-block row">

        <a [routerLink]="['/calendar', navigationInfo.previosMonth.year, navigationInfo.previosMonth.month]"
           class="col-sm-4 month-link">
            « {{ navigationInfo.previosMonth.month | monthName }}
        </a>

        <span class="col-sm-4 current-month">
            {{ navigationInfo.thisMonth.month | monthName }}
        </span>

        <a [routerLink]="['/calendar', navigationInfo.nextMonth.year, navigationInfo.nextMonth.month]"
           class="col-sm-4 month-link">
            {{ navigationInfo.nextMonth.month | monthName }} »
        </a>

    </div>

    <h4 class="text-center clendar-year">{{ navigationInfo.thisMonth.year }}</h4>

    <table class="table">

        <thead>
            <tr>
                <th *ngFor="let day of daysOfWeek" class="col-md-1 danger text-center"> {{ day }}</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let week of weeks">
                <td *ngFor="let day of week" class="calendar-day" [class.calendar-today]="isToday(day.date)">

                    <div class="calendar-date"> {{ day.date | shortDate }}</div>

                    <div *ngFor="let episode of day.episodes" class="calendar-episode">

                        <a [routerLink]="['/show', episode.userFriendlyId]" class="calendar-episode-link">
                            {{ episode.showName }}
                        </a>

                        <span>(S{{ episode.seasonNumber | doubleDigit }}E{{ episode.number | doubleDigit }})</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>