﻿
<div *ngIf="shows">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-3 danger">Show</th>
                <th class="col-md-3 danger">Last Episode</th>
                <th class="col-md-3 danger">
                    <span *ngIf="showNextEpisode">Next Episode</span></th>
                <th class="col-md-3 danger"></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let show of shows | paginate: paginationConfig">

                <td class="col-md-3">

                    <strong class="my-show-title">

                        <a [routerLink]="['/show', show.userFriendlyId]">{{ show.name }}</a>
                    </strong>
                </td>

                <td class="col-md-3">

                    <my-episode *ngIf="show.lastEpisode"
                                          [episode]="show.lastEpisode"></my-episode>
                </td>

                <td class="col-md-3">

                    <my-episode *ngIf="showNextEpisode && show.nextEpisode"
                                          [episode]="show.nextEpisode"></my-episode>
                </td>


                <td class="col-md-3">
                    <button *ngIf="show.subscribed"
                            (click)="unsubscribe.emit(show)"
                            class="btn btn-danger my-show-unsubscribe-button btn-subscription">
                        Unsubscribe
                    </button>

                    <button *ngIf="!show.subscribed"
                            (click)="subscribe.emit(show)"
                            class="btn btn-danger btn-subscription">
                        Undo
                    </button>
                </td>

            </tr>

        </tbody>
    </table>

    <pagination-controls
            (pageChange)="pageChange.emit($event)"
            maxSize="7"
            directionLinks="true"
            class="text-center"
            id="{{paginationId}}"
            autoHide="true">

    </pagination-controls>
</div>