<div class="row well show-header">

    <div class="col-md-8">

        <img [src]="show.banner" [alt]="show.name" [title]="show.name" class="show-banner"/>

        <div *ngIf="identity.isAuthenticated">

            <button *ngIf="show.isUserSubscribed"
                    (click)="unsubscribe(show.id)"
                    class="btn btn-danger subscribe-button">
                Unsubscribe
            </button>

            <button *ngIf="!show.isUserSubscribed"
                    (click)="subscribe(show.id)"
                    class="btn btn-success subscribe-button">
                Subscribe
            </button>

        </div>

        <div *ngIf="!identity.isAuthenticated">

            <a [routerLink]="['/login']" class="btn btn-success subscribe-button">Login to subscribe</a>
        </div>

        <div class="panel panel-default description-panel">

            <div class="panel-heading">
                Description
            </div>

            <div class="panel-body description-box">
                {{ show.description }}
            </div>
        </div>

    </div>

    <div class="show-details-area col-md-4 panel panel-default">

        <div class="row">

            <div class="col-sm-6 show-stats">

                <div class="text-center big-info-title">Subscribers</div>

                <div class="big-info text-center">
                    {{ show.subscriberCount }}
                </div>

                <ul class="list-group">

                    <li class="list-group-item">

                        Network : <a [routerLink]="['/shows/network', show.networkUserFriendlyId]"
                                     class="network-link">{{ show.network }}</a>
                    </li>

                    <li class="list-group-item">
                        <span *ngIf="show.airTime"> {{ show.airDay + 1 | weekDayName }}s at {{ show.airTime.hours | doubleDigit }}:{{ show.airTime.minutes | doubleDigit }}</span>

                        <span *ngIf="!show.airTime">
                                No Data
                            </span>
                    </li>
                </ul>

            </div>

            <div class="col-sm-6 show-stats">

                <div class="text-center big-info-title">Episodes</div>
                <div class="big-info text-center">

                    {{ show.episodeCount }}
                </div>

                <ul class="list-group">

                    <li [ngSwitch]="show.status" class="list-group-item">

                        <span *ngSwitchCase="1">

                            <img src="app/assets/show/running.png" alt="Running" title="Running"/>
                            <span class="running-text">Running</span>
                        </span>

                        <span *ngSwitchCase="0">

                            <img src="app/assets/show/ended.png" alt="Ended" title="Ended"/>
                            <span class="ended-text">Ended</span>
                        </span>

                        <span *ngSwitchCase>

                            <img src="app/assets/show/unknown.png" alt="Unknown" title="Unknown"/>
                            <span class="unknown-text">Unknown</span>
                        </span>

                    </li>

                    <li class="list-group-item">

                        Premiered : {{ show.firstAired | premieredDate }}
                    </li>
                </ul>
            </div>
        </div>


        <div class="links-table text-center">

            <a href="http://www.youtube.com/results?search_query={{ show.name | querify }}+Trailer"
               class="btn btn-default btn-danger text-center" target="_blank">
                YouTube Trailer
            </a>

            <a href="http://www.imdb.com/title/{{ show.imdbId }}/"
               class="btn btn-default btn-success text-center" target="_blank">
                IMDB Profile
            </a>

            <a href="http://www.thetvdb.com/?tab=series&id={{ show.tvDbId }}"
               class="btn btn-default btn-warning text-center" target="_blank">
                TheTVDB Profile
            </a>
        </div>

    </div>
</div>