<div class="calendar-view center-block">

    <div class="text-center">
        <h3 class="month-list">
            <a href="/#/calendar/{{ info.previosMonth.year }}/{{ info.previosMonth.month }}" class="month-link">« {{ info.previosMonth.month | monthName }}</a>
        </h3>

        <h1 class="month-list">{{ info.thisMonth.month | monthName }}</h1>

        <h3 class="month-list">
            <a href="/#/calendar/{{ info.nextMonth.year }}/{{ info.nextMonth.month }}" class="month-link">{{ info.nextMonth.month | monthName }} »</a>
        </h3>
    </div>

    <h4 class="text-center">{{ info.thisMonth.year }}</h4>

    <table class="table">

        <thead>
        <tr>
            <th ng-repeat="day in daysOfWeek" class="col-md-1 danger text-center">
                {{ day }}
            </th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week" class="calendar-day" ng-class="todayClass(day.date)">

                <div class="calendar-date"> {{ day.date | shortDate }} </div>

                <div ng-repeat="episode in day.episodes" class="calendar-episode">

                    <a href="/#/show/{{ episode.userFriendlyId }}" class="calendar-episode-link">{{ episode.showName }}</a>

                    <span>(S{{ episode.seasonNumber | doubleDigit }}E{{ episode.number | doubleDigit }})</span>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>